<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block scr %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    {#<body style="background-color: ghostwhite">#}
    <body style="background: #eee url({{ asset('sativa.png') }});">
        {% block body %}aaa{% endblock %}

    </body>
</html>
