<div id="stat1" class="stat">
    <p class="pt">Done today:</p>
    <p class="pt"> {{ today_stat }}</p>
</div>
<div id="stat2" class="stat">

    <p class="pt">Done this week:</p>
    <p class="pt"> {{ week_stat }}</p>
</div>
